@model Inventory.Models.PurchaseOrder

<table id="example2" class="table table-bordered table-hover">
    @if(Model.PurchaseOrderList !=null)
    { 
    foreach (var item in Model.PurchaseOrderList)
    {

        if (item.OrderNo != null)
        {
            <tr>
                <td>
                    @item.OrderNo
                </td>
                <td>
                    @Ajax.ActionLink(@item.Vendor.Name, "Edit", // <-- Text to display
                              "PurchaseOrder",


                 new
                 {
                     id = item.PurchaseOrderId
                 }, // <-- Action Method Name



                              // <-- Action Method Name
                 new AjaxOptions
                 {
                     UpdateTargetId = "ContentArea", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET", //

                 })
                </td>
            </tr>
        }


    }
    
    }
</table>