@model Inventory.Models.Product

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tr>
                <td><strong>Vendor</strong></td>
                <td><strong>Vendor's Price</strong></td>
                <td><strong>Vendor Product Code</strong></td>
                

            </tr>
            @if(Model.ProductService != null)
            {
                
            
           foreach(var item in Model.ProductService.ProductSearchList)
           {
               
                    <tr>

                        <td>@item.VendorName</td>
                        <td>@item.UnitPrice</td>
                        <td>@item.ProductCode</td>
                      

                    </tr>
               
           }
            }
        </table>
    </div>
</div>
