USE [InflowInventory]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPurchaseOrderSummaryReport]    Script Date: 7/14/2017 4:40:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE SP_GetPurchaseOrderSummaryReport

	@vendorid int,
	@orderdate date,
	@status nvarchar(255)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT       dbo.PurchaseOrder.OrderNo, dbo.PurchaseOrder.Status, dbo.Vendor.Name AS VendorName, dbo.PurchaseOrder.OrderDate, dbo.PurchaseOrderDetail.Quantity, dbo.PurchaseOrder.AmountPaid, dbo.PurchaseOrder.Balance
FROM            dbo.PurchaseOrder INNER JOIN
                         dbo.PurchaseOrderDetail ON dbo.PurchaseOrder.PurchaseOrderId = dbo.PurchaseOrderDetail.PurchaseOrderId INNER JOIN
                         dbo.Vendor ON dbo.PurchaseOrder.VendorId = dbo.Vendor.VendorId


WHERE (@vendorid IS NULL OR PurchaseOrder.VendorId=@vendorid)
	AND (@orderdate IS NULL OR (CAST(PurchaseOrder.OrderDate AS date)=@orderdate))
	AND (@status IS NULL OR PurchaseOrder.Status=@status)



END

--exec SP_GetPurchaseOrderSummaryReport null,'2017-07-18',null